$font-color-primary: #fff;
$font-color-secondary: #374144;

$grey-primary: #3b3b3b;

$panel: #e9e9e9;
$background: #0c1c35;

$primary: #3772c7;
$secondary: #4dc856;

$freelanceri: #1cb8e3;
$asiakastyytyvaisyystutkimukset: #f44336;